<h1>Merhaba Firebase</h1>

<div>
  <button *ngIf="!loggedInState" routerLink="login" mat-stroked-button color="accent">Giriş Sayfasına Git</button>
  <button routerLink="register" *ngIf="!loggedInState" mat-stroked-button color="accent">Üye Ol</button>
  <button routerLink="addmakale" *ngIf="loggedInState" mat-flat-button color="primary">Makale Ekle</button>
  <button (click)="handleLogout()" *ngIf="loggedInState" mat-raised-button color="primary">Çıkış Yap</button>
</div>

<h2>Makaleler</h2>
<p *ngFor="let makale of items; let mIndex = index;">Makale Adı: {{ makale.makale_baslik }}</p>

<p>{{loggedInState ? "Giris basarili" : "uye girisi yapilmamis..."}}</p>
